[user]
    name = Hyunjin CHA
    email = gump.cha@gmail.com
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    ci = commit
    co = checkout
    st = status
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ %Cgreen(%ar)%Creset\\ [%an]" --decorate --graph
    lsb = ls --branches
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    br = branch -v
[push]
    default = simple
[pager]
    #diff = diff-highlight | less
    diff = delta
    stash = false
    branch = false
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[github]
    user = gumpcha
[init]
    templatedir = ~/.git_template
[merge]
    conflictstyle = diff3
